<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fogstream</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav" style="position: absolute; right: 0; top: 0">
        <li class="nav-item" style="margin-right: 3vw; margin-top: 1vh;">
          <a class="nav-link" href="#">Условия использования</a>
        </li>
        <li class="nav-item" style="margin-right: 3vw; margin-top: 1vh;">
          <a class="nav-link" href="#">Справочная информация</a>
        </li>
      </ul>
    </div>
  </div>
</nav>