<div id="sidebar" style="background: #4e555b; width: 20vw; height: 88vh;
visibility: hidden; z-index: 10000; position: absolute; top: 6vh; right: 0;">
    <button type="button" class="btn btn-secondary"
            style="margin: 5%; position: absolute; right: 0"
            onclick="document.getElementById('sidebar').style.visibility = 'hidden'">
        Закрыть
    </button>

    {% if user.is_authenticated %}
        {% include 'include/forms/add_verified_tag.html' %}
    {% endif %}


</div>