<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load static %}
    <title>Fogstream|Интерактивная карта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
</head>

<body>


    <h1>Метка успешно создана!</h1><br>

    <a href="/" style="margin-top: 10%">Вернуться на главную страницу</a>



</body>

</html>