<div style="margin-top: 5%; margin-left: 5%">
    <h3 style="color: #fff">Добавить метку</h3>

    <form method="post" enctype="multipart/form-data" class="post-form" style="margin-top: 10%">
        {% csrf_token %}
        {{ form.name }}<br>
        {{ form.description }}<br>
        {{ form.image }}<br>
        {{ form.location }}<br>
        <button type="submit" name="btnform1" class="btn btn-primary" style="margin-top: 5%">Добавить</button>
        {{ form.x_coord }}<br>
        {{ form.y_coord }}<br>
        {{ form.user }}<br>

    <script>$("#id_user").val({{ user.id }});</script>
    <script>$("#id_user").css("visibility", "hidden");</script>

    </form>
</div>


