<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load static %}
    <title>Fogstream|Интерактивная карта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div>
        {% include 'include/header.html' %}
    </div>
{% if user.username == 'admin' %}
<main style="margin-top: 5%">
    {% for tag in tags %}
        <div class="col" style="margin-top: 20px">
          <div class="card shadow-sm">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="navbar-brand" style="color: #005cbf"><b>{{ tag.name }}</b></p>

                        <div class="d-flex justify-content-between align-items-center">
                            <form method="post" action="{% url 'admin_tags' tag_id=tag.id action='add' %}">
                                {% csrf_token %}
                                <button style="border-radius: 5px; border: 2px solid green; padding: 2px; margin-right: 5px">Добавить</button>
                             </form>
                             <form method="post" action="{% url 'admin_tags' tag_id=tag.id action='delete' %}">
                                {% csrf_token %}
                                 <button style="border-radius: 5px; border: 2px solid red; padding: 2px">Удалить</button>
                             </form>
                        </div>
                </div>

              <p class="card-text" style="width: 50%;">{{ tag.description }}</p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group" style="display: block">
                    <small class="text-muted" style="border-radius: 5px; border: 1px solid #696969; padding: 2px">{{ tag.x_coord }}</small><br>
                    <small class="text-muted" style="border-radius: 5px; border: 1px solid #696969; padding: 2px">{{ tag.y_coord }}</small><br>
                    <small class="text-muted">{{ tag.location }}</small>
                </div>
                    <div style="display: block;">
                        <small class="text-muted" >{{ tag.username }}</small><br>
                        <small class="text-muted" >{{ tag.email }}</small>
                    </div>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
    {% include 'include/pagination.html' with page=tags %}
</main>
    {% else %}
        <a style="margin-top: 10%" class="nav-link" href="{% url 'account_signup' %}">
            Регистрация
        </a>
    {% endif %}

    <div>
        {% include 'include/footer.html' %}
    </div>
</body>
</html>