<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load static %}
    <title>Fogstream|Интерактивная карта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=7cf0a157-cbdd-400b-8134-1ad82ab05710&lang=ru_RU" type="text/javascript">
    </script>
    <script type="text/javascript" src="https://yandex.st/jquery/2.2.3/jquery.min.js"></script>
    <script src="{% static 'js/map.js' %}"></script>
</head>

<body>
    <div>
        {% include 'include/header.html' %}
    </div>

    <div>
        <div id="map" style="width: 100vw; height: 88vh; margin-top: 6vh; margin-bottom: 6vh"></div>
        {% include 'include/sidebar.html' %}
    </div>



    <div>
        {% include 'include/footer.html' %}
    </div>


</body>

</html>