<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load static %}
    <title>Fogstream|Интерактивная карта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
</head>

<body>
    <div>
        {% include 'include/header.html' %}
    </div>

<main style="margin-top: 3%; margin-bottom: 3%">
    <div class="bg-light p-5 rounded">
    <h1>Как работать с сайтом?</h1><br>
    <p><b>1.Нажмите на участок карты где вы хотите добавить метку</b></p>
        <p><img width="20%" height="20%" src='/media/images/1.1.png'></p>
    <p><b>2.Нажмите "Да" и перейдите к форме для описания вашей метки</b></p>
        <p><img width="20%" height="30%" src='/media/images/1.2.png'></p>
    <p><b>3.Заполните форму и нажмите "Добавить</b></p>
        <p><img width="20%" height="30%" src='/media/images/1.3.png'></p>
    <p><b>4.Готово, ваша метка добавлена на карту.</b></p>
    </div>
</main>



    <div>
        {% include 'include/footer.html' %}
    </div>


</body>

</html>