<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load static %}
    <title>Fogstream|Интерактивная карта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
</head>

<body>
    <div>
        {% include 'include/header.html' %}
    </div>


    <div class="bg-light p-5 rounded">
        <main style="margin-top: 3%; margin-bottom: 3%">
        <h3>О компании</h3>
        <p>
            Интерактивная карта - это единая база данных отзывов и обращений, которая
            составлена на основе информации от пользователей сайта. Материалы находятся
            на специальной карте с тегами, в которых каждый посетитель может найти данные
            по интересующей его местности. Мы даем людям возможность рассказать о том
            что их беспокоит или интересует.
        </p>
        <p>
            Интерактивная карта - это эффективный способ ведения диалога между
            общественными или комерческими организациями, а также различными слоями
            населения РФ и стран СНГ. Мы сделали все для того, чтобы каждый человек
            был услышан.
        </p>
        <p>В сервисе предоставлено:</p>
        <p>- Множество различных меток</p>
        <p>- Удобное их создание</p>
        <p>- Просмотр любой метки по запросу</p>
        </main>
    </div>


    <div>
        {% include 'include/footer.html' %}
    </div>


    <div>
        {% include 'include/footer.html' %}
    </div>


</body>

</html>